<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <div class="row">
    <form class="form-horizontal">
      <fieldset>

        <!-- Ten cua form -->
        <legend>Upload Album</legend>

        <!-- Ten cua Album-->
        <div class="form-group">
          <label class="col-md-8 control-label" for="textinput">Title</label>
          <div class="col-md-8">
            <input size="500" name="textinput" class="form-control input-md" id="textinput" type="text" placeholder="Name">

          </div>

        <!-- File Button -->
        <div class="form-group">
          <label class="col-md-8 control-label" for="filebutton">Upload Image</label>
          <div class="col-md-8">
            <input name="filebutton" class="input-file" id="filebutton" type="file">
          </div>
        </div>

        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="singlebutton">Submit</label>
          <div class="col-md-4">
            <button name="singlebutton" class="btn btn-primary" id="singlebutton">Button</button>
          </div>
        </div>

        </div>
      </fieldset>
    </form>

  </div>
</div>




