

<div class="container">
  <div id="content">
    <div class="container-fruid register">
      <div class="row">
        <div class="col-md-3 register-left">
          <h3>Welcome</h3>
        </div>
        <div class="col-md-9 register-right">
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <div *ngIf="isShow"
                   class="alert {{ (isSuccess) ? 'alert-success' : 'alert-danger' }}"
                   role="alert">
                {{message}}
              </div>
              <h3 class="register-heading">Create Photo Album</h3>
              <form [formGroup]="formGroup" (ngSubmit)="save()">
                <div class="row register-form">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input formControlName="name" placeholder="Album'name" type="text" class="form-control"
                             id="tenNha" aria-describedby="emailHelp">
                    </div>
                  </div>
                  <div>
                    <select formControlName="status">
                      <option [defaultSelected]="true" value="true"> Public</option>
                      <option value="false">Private</option>
                    </select>
                  </div>
                  <br/>
<!--                  <div formGroupName="category" class="form-group" style="padding: 0px!important;">-->
<!--&lt;!&ndash;                    <label>Category</label>&ndash;&gt;-->
<!--&lt;!&ndash;                    <select formControlName="id">&ndash;&gt;-->
<!--&lt;!&ndash;                      <option  *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>&ndash;&gt;-->
<!--&lt;!&ndash;                    </select>&ndash;&gt;-->
<!--                  </div>-->
                  <div class="form-group">
                    <div class="input-group">
                      <div class="text-center">
                        <div *ngFor="let file of arrayImage">
                          <img [src]="file.srcImg" alt="Picture of album" (click)="uploadFile.click()" height="170"
                               width="170"
                               class="custom-dropzone"/>
                        </div>
                        <div class="input-group-btn">
                                                            <span style="margin: 0px"
                                                                  class="fileUpload btn btn-primary">
                                                                <span (click)="onClick()" class="upl" id="upload">Upload multiple file</span>
                                                                <input type="file" (change)="uploadFile($event)"
                                                                       class="upload up" id="up"
                                                                       onchange="readURL(this);" multiple/>
                                                              </span>
                        </div>
                      </div>
                      <div *ngIf="isLoading" class=" spinner-border" role="status">
                        <span class="  sr-only">Loading...</span>
                      </div>
                    </div>
                  </div>
                </div>

<!--                <button btn btn-pramry>-->
<!--                  Submit-->
<!--                </button>-->
                <button  type="submit" class="btn btn-dark">
                  Submit
                </button>
                <button class="btn btn-danger" routerLink="/blogs/list" style="margin-left: 35px">Back Home</button>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
