<!--        Day la code chuyen tu side-right sang-->


    <form action="#" class="search-form">
      <div *ngIf="!isLoggedIn" class="form-group">
        <!--        <span class="icon icon-search"></span>-->
        <button type="button" class="form-control" routerLink="/auth/register">Register</button>
        <button type="button" class="form-control" routerLink="/auth/login">Login</button>
      </div>
      <div *ngIf="isLoggedIn">
        <div class="container">
          <div class="col-xs-6">
            <img height= "170" width="170" [src]="avatarUrl">
          </div>

          <div class="dropdown col-xs-6">
            <i class="dropbtn">Hello!{{account.firstName}} {{account.lastName}}</i>
            <div class="dropdown-content">
              <a routerLink="/edit">Profile</a>
              <a class="btn btn-danger" routerLink="/auth/logout">Log Out</a>
            </div>
          </div>
        </div>

      </div>
    </form>
