<div class="container">
    <div class="row">
        <form class="form-horizontal" [formGroup]="createAlbum" (ngSubmit)="submit()">
        <fieldset>

          <!-- Ten cua form -->
          <legend>Upload Album</legend>

          <!-- Ten cua Album-->
          <div class="form-group">
            <label class="col-md-8 control-label" for="textinput">Title</label>
            <div class="col-md-8">
              <input [formControlName]="imageList" size="500" name="textinput" class="form-control input-md" id="textinput" type="text" placeholder="Name">

            </div>

          <!-- File Button -->

            <table *ngIf="imageList">
              <tr *ngFor="let i of rowIndexArray">
                <td>
                  <div class="imagebox" *ngIf="i==0">
                    <a routerLink="/images/upload/image">
                      <img src="../../../assets/img/new_image.jpg" class="img-fluid">
                      <span class="imagebox-desc">Insert New Image</span></a>
                  </div>
                  <div class="imagebox" *ngIf="i!=0">
                    <img [src]="imageList[3*i-1].imageUrl" class="img-fluid">
                    <span class="imagebox-desc">{{imageList[3*i-1].caption}}</span>
                  </div>
                </td>
                <td *ngIf="imageList[3*i]">
                  <div class="imagebox">
                    <img [src]="imageList[3*i].imageUrl" class="img-fluid">
                    <span class="imagebox-desc">{{imageList[3*i].caption}}</span>
                  </div>
                </td>
                <td *ngIf="imageList[3*i+1]">
                  <div class="imagebox">
                    <img [src]="imageList[3*i+1].imageUrl" class="img-fluid">
                    <span class="imagebox-desc">{{imageList[3*i+1].caption}}</span>
                  </div>
                </td>
              </tr>
            </table>

          <!-- Button -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="singlebutton">Submit</label>
            <div class="col-md-4">
              <button name="singlebutton" class="btn btn-primary" id="singlebutton">Button</button>
            </div>
          </div>

          </div>
        </fieldset>
      </form>

    </div>
  </div>

